<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutMe</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Hey, there. A little bit about myself!</h1>
    <h2><%="My name is " + aboutMe.name + "."%></h2>
    <h2><%="I was bor in "+ aboutMe.birthDate + "." %></h2>
    <h2><%="I live in " + aboutMe.country + "."%></h2>
    <h2><%="I am a " + aboutMe.status + " in Tashkent State University of Economics." %></h2>
    <h2><%="My skills are " + aboutMe.skills + "."%></h2>
    <p>I'm the founder of Luminar Education, a private learning center dedicated to helping students reach their full potential through innovative and personalized learning. Alongside running my business, I also work as a backend developer and English tutor, blending my passion for technology and education.

        My journey has taken me from a small town in Uzbekistan all the way to the U.S., where I became a finalist of the FLEX (Future Leaders Exchange) 2023-2024 program, studying at Mora High School in Minnesota. I graduated from high school with a gold medal for academic excellence and was honored with a one-week scholarship trip to Saint Petersburg for the Scarlet Sails 2024 celebration.
        
        I thrive at the intersection of entrepreneurship, coding, and teaching, and I'm deeply committed to empowering young learners and making quality education more accessible.
        
        Let's connect if you're passionate about education, technology, or global learning opportunities!</p>
</body>
</html>